.dialer-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #3498db;
  }
  
  .phone-display {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .phone-display input {
    width: 100%;
    font-size: 1.5em;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  button {
    background-color: #3498db;
    color: #ecf0f1;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .send-button {
    background-color: #27ae60;
    color: #ecf0f1;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #219d53;
  }
  

  /* Dialer.css */

.redirect-link {
    text-decoration: none;
    color: #ffffff; /* Set your desired text color */
    background-color: #007bff; /* Set your desired background color */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .redirect-link:hover {
    background-color: #0056b3; /* Set your desired hover background color */
    color: #ffffff; /* Set your desired hover text color */
  }
  